/* Background color */
html {
  font-size: 14px; }

body {
  background-color: #E6E6E6;
  color: #333;
  font-family: "roboto", sans-serif; }
  body .sites-nav {
    background-color: #333; }
    body .sites-nav_menu {
      list-style: none;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      body .sites-nav_menu li {
        margin-right: 20px; }
