/* Background color */
html {
  font-size: 12px; }

body {
  background-color: #E6E6E6;
  color: #333;
  font-family: "open sans", sans-serif;
  margin: 0; }
  body .sites-nav {
    background-color: #333;
    height: 45px; }
    body .sites-nav_menu {
      list-style: none;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      body .sites-nav_menu li {
        margin-right: 30px; }
        body .sites-nav_menu li a {
          text-decoration: none;
          text-align: right;
          color: #FFF; }
          body .sites-nav_menu li a::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: #F0AD4F;
            -webkit-transform: translateY(5px) scale(0);
                    transform: translateY(5px) scale(0);
            -webkit-transition: all 0.2s;
            transition: all 0.2s; }
          body .sites-nav_menu li a:hover {
            text-decoration: none; }
            body .sites-nav_menu li a:hover::after {
              -webkit-transform: translateY(5px) scale(1);
                      transform: translateY(5px) scale(1); }
