/* Background color */
html {
  font-size: 16px;
  box-sizing: border-box; }

body {
  background-color: #E6E6E6;
  color: #333;
  font-family: "open sans", sans-serif;
  margin: 0;
  padding: 0; }
  body .sites-nav {
    background-color: #333; }
    body .sites-nav_menu {
      list-style: none;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      body .sites-nav_menu li {
        margin-left: 30px; }
        body .sites-nav_menu li a {
          text-decoration: none;
          font-size: 12px;
          color: #FFF; }
          body .sites-nav_menu li a::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #F0AD4F;
            -webkit-transform: translateY(5px) scale(0);
                    transform: translateY(5px) scale(0);
            -webkit-transition: all 0.2s;
            transition: all 0.2s; }
          body .sites-nav_menu li a:hover {
            text-decoration: none; }
            body .sites-nav_menu li a:hover::after {
              -webkit-transform: translateY(5px) scale(1);
                      transform: translateY(5px) scale(1); }
  body .col-md-auto {
    padding: 0; }
  body .top-nav {
    padding: 15px; }
    body .top-nav_menu {
      list-style: none;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      body .top-nav_menu li {
        margin-left: 30px; }
        body .top-nav_menu li a {
          text-decoration: none;
          text-align: right;
          color: #333; }
          body .top-nav_menu li a::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: #F0AD4F;
            -webkit-transform: translateY(5px) scale(0);
                    transform: translateY(5px) scale(0);
            -webkit-transition: all 0.2s;
            transition: all 0.2s; }
          body .top-nav_menu li a:hover {
            text-decoration: none; }
            body .top-nav_menu li a:hover::after {
              -webkit-transform: translateY(5px) scale(1);
                      transform: translateY(5px) scale(1); }
  body .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    body .slider .item {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
      padding-bottom: 10px;
      padding-left: 25px;
      height: 650px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      background-color: #aeaeae;
      -ms-flex-preferred-size: 33.33%;
          flex-basis: 33.33%;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      body .slider .item:hover {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
      body .slider .item span {
        text-shadow: 0px 0px 10px #000; }
        body .slider .item span a {
          text-decoration: none;
          font-size: 24px;
          color: #F0AD4F; }
        body .slider .item span p {
          color: #FFF;
          font-size: 16px; }
    body .slider .item-1 {
      background: url(../img/1x/top_slider_1.png) no-repeat center center;
      background-size: cover; }
    body .slider .item-2 {
      background: url(../img/1x/top_slider_2.png) no-repeat center center;
      background-size: cover; }
    body .slider .item-3 {
      background: url(../img/1x/top_slider_3.png) no-repeat center center;
      background-size: cover; }
  @media (max-width: 1000px) {
    body .slider {
      height: 60vh;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column; }
      body .slider .item {
        width: 100%;
        padding-bottom: 5px;
        padding-left: 15px; }
        body .slider .item span {
          text-shadow: 0px 0px 10px #000; }
          body .slider .item span a {
            font-size: 16px; }
          body .slider .item span p {
            font-size: 12px; } }
