@media (max-width: 1200px)
	body
		.top-nav
			&_menu
				li
					margin-left: 20px
					a
						font-size: 12px
@media (max-width: 1000px)
	body
		.sites-nav
			&_menu
				li
					margin-left: 20px
					a
						font-size: 10px
		.slider
			height: 60vh
			flex-flow: column
			.item
				width: 100%
				padding-bottom: 5px
				padding-left: 15px
				span
					a
						font-size: 14px
					p
						font-size: 12px
@media (max-width: 767px)
	body
		.sites-nav
			height: 161px
			&_menu
				flex-direction: column
				li
					margin-left: 0
					a
						&::after
							display: none
			&_btn
				display: block