@import "colors"
@import "fonts"
@import "fontello"

html	
	font-size: 16px
	box-sizing: border-box
body
	background-color: $white
	color: $dark
	font-family: 'open sans', sans-serif
	margin: 0
	padding: 0
	img
		border-radius: 10px
	a
		color: $second-color
		text-decoration: underline
		&:hover
			color: $dark
			transition: all 0.2s
	h1
		font-size: 44px
		font-weight: 400
		margin-bottom: 30px
	p
		line-height: 21px
	h2
		font-weight: bold
		font-size: 18px
	ul
		padding: 0
		margin-left: 0
		li
			margin-top: 10px
			margin-bottom: 10px
	.quote
		font-family : Helvetica Neue Cyr Thin
		font-size : 24px
		line-height : 29px
		padding-top: 5px
		padding-bottom: 35px
	.date
		font-style : italic
	.img-sign
		font-style : italic
		font-size : 14px
	.copyright
		font-size : 12px
		line-height : 14px
	.sites-nav
		padding-left: 2%
		padding-right: 2%
		height: 50px
		background-color: $dark
		&_menu
			list-style: none
			padding: 0
			display: flex
			li
				margin-left: 30px
				margin-top: 0
				margin-bottom: 0
				a
					text-decoration: none
					font-size: 12px
					color: $white
					&::after
						content: ''
						display: block
						width: 100%
						height: 1px
						background-color: $active-color
						transform: translateY(5px) scale(0)
						transition: all 0.2s
					&:hover
						text-decoration: none
						&::after
							transform: translateY(5px) scale(1)
		&_btn
			display: none
			background-color: transparent
			border: none
			color: $white
			&:hover
				cursor: pointer
	.col-md-auto
		padding: 0
		margin: 0
	.top-nav
		padding: 0
		margin-left: 2%
		margin-right: 2%
		&_menu
			list-style: none
			padding: 0
			display: flex
			li
				margin-left: 30px
				a
					text-decoration: none
					text-align: right
					color: $text-color
					&::after
						content: ''
						display: block
						width: 100%
						height: 2px
						background-color: $active-color
						transform: translateY(5px) scale(0)
						transition: all 0.2s
					&:hover
						text-decoration: none
						&::after
							transform: translateY(5px) scale(1)
		&_btn
			display: none
	.slider
		display: flex
		justify-content: flex-start
		align-items: flex-end
		.item
			box-shadow: 0px 0px 10px rgba(0,0,0,.4)
			padding-bottom: 10px
			padding-left: 25px
			height: 650px
			display: flex
			justify-content: flex-start
			align-items: flex-end
			background-color: #aeaeae
			flex-basis: 33.33%
			transition: all 0.2s
			&:hover
				flex-basis: 100%
			span
				text-shadow: 0px 0px 10px #000
				a
					text-decoration: none
					font-size: 24px					
					color: $active-color
				p
					color: $white
					font-size: 16px
		.item-1
			background: url(../img/1x/top_slider_1.png) no-repeat center center
			background-size: cover
		.item-2
			background: url(../img/1x/top_slider_2.png) no-repeat center center
			background-size: cover
		.item-3
			background: url(../img/1x/top_slider_3.png) no-repeat center center
			background-size: cover
	.content
		margin-left: 2%
		margin-right: 2%
		margin-bottom: 1%
	footer
		padding-left: 2%
		padding-right: 2%
		font-size: 12px
		line-height: 18px
		background-color: $dark
		color: $lgrey
		padding-top: 20px
		padding-bottom: 20px
		a
			color: $active-color
			&:hover
				color: $lgrey
				transition: all 0.2s
	.col-6
		padding: 0
		margin: 0
	.col-md
		padding: 0
		margin: 0
@import media