

@import "colors"

html
	font-size: 14px

body
	background-color: $body-bg
	color: $dark
	font-family: 'open sans', sans-serif
	padding: 0
	width: 100%

	.sites-nav
		background-color: $dark
		&_menu
			list-style: none
			padding: 0
			display: flex
			li
				margin-right: 20px
				a
					text-decoration: none
					text-align: right
					color: $white
					&::after
						content: ''
						display: block
						height: 2px
						background-color: $active-color
						transform: translateY(20px)